{{ define "abonents" }}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/null.style.css">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/{{.Theme}}/style.css" id="theme">
        <link rel="stylesheet" href="/assets/css/{{.Theme}}/users.css">
        <title>Абоненты</title>
    </head>
    <body>
    <div class="preload">
        <div class="preload-contain">
            <div class="preload-icon">
                <img src="/assets/image/rocket.svg" alt="Загрузка">
            </div>
        </div>
    </div>
    {{template "aside" .}}
    <main>
        <div class="title">
            <h2>Абоненты</h2>
        {{if or (or (eq .SessionUser.Role.ID 1) (eq .SessionUser.Role.ID 6)) (eq .SessionUser.Role.ID 3)}}<a href="/abonents/create"><div class="btn edit">+ Создать абонента</div></a>{{end}}
        </div>
        <section>
            <div class="ths">
                <div class="th">ФИО</div>
                <div class="th">Фактический Адрес</div>
                <div class="th">Номер договора</div>
            </div>
            {{ range $i := .Abonents}}
                <div class="user">
                    <div class="info">
                        <span>{{$i.Name}}</span>
                        <span>{{$i.ActualAddress}}</span>
                        <span>{{$i.ContractNumber}}</span>
                    </div>
                    <div>
                        {{if or (or (eq $.SessionUser.Role.ID 1) (eq $.SessionUser.Role.ID 6)) (eq $.SessionUser.Role.ID 3)}}<a href="/abonents/edit/{{$i.ID}}"><div class="btn edit">Изменить</div></a>{{end}}
                        <a href="/abonents/view/{{$i.ID}}"><div class="btn edit">Подробнее</div></a>
                    </div>
                </div>
            {{end}}
        </section>
    </main>
    <footer>2022 ООО "Орбител". Все права защищены</footer>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/send.js"></script>
    <script src="/assets/js/user.js"></script>
    </body>
    </html>
{{ end }}