{{ define "application-create" }}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание заявки</title>
    <link rel="stylesheet" href="/assets/css/null.style.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/style.css" id="theme">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/application.css">
</head>
<body>
<div class="preload">
    <div class="preload-contain">
        <div class="preload-icon">
            <img src="/assets/image/rocket.svg" alt="Загрузка">
        </div>
    </div>
</div>
{{template "aside" .}}
    <main>
        <h2>Создание заявка</h2>
        <div class="contain">
            <div class="application-form">
                <div class="sides">
                    <div class="left-side">
                        <div class="fast-search">
                            <label>
                                <input type="text" required="required" id="Abonent" data-abonent_id="">
                                <span style="color: #0177fd;transform: translateY(-30px);font-size: 0.85em;">Абонент</span>
                                <div class="abonent-list" id="abonent-list"></div>
                            </label>
                            <div class="disable disable-top"></div>
                        </div>
                        <div class="border-trans">
                            <i></i>
                            <span>или</span>
                            <i></i>
                        </div>
                        <div class="alternative">
                            <label>
                                <input type="text" required="required" id="name">
                                <span style="color: #0177fd;transform: translateY(-30px);font-size: 0.85em;">ФИО / Название организации</span>
                            </label>
                            <label>
                                <input type="text" required="required" id="phone">
                                <span style="color: #0177fd;transform: translateY(-30px);font-size: 0.85em;">Номер телефона</span>
                            </label>
                            <div>
                                <label style="width: 50%">
                                    <input type="text" required="required" id="street">
                                    <span style="color: #0177fd;transform: translateY(-30px);font-size: 0.85em;">Улица</span>
                                </label>
                                <label style="width: 25%">
                                    <input type="text" required="required" id="house_number">
                                    <span style="color: #0177fd;transform: translateY(-30px);font-size: 0.85em;">Дом</span>
                                </label>
                                <label style="width: 25%">
                                    <input type="number" required="required" id="apartment_number">
                                    <span style="color: #0177fd;transform: translateY(-30px);font-size: 0.85em;">Квартира / Офис</span>
                                </label>
                            </div>
                            <div class="disable disable-bottom"></div>
                        </div>
                    </div>
                    <div class="right-side">
                        <div style="display: flex; margin: 0 0 10px">
                            <div class="select-block">
                                <span class="select-block-span">Приоритет</span>
                                <div class="select">
                                    <div id="Priority" class="select-button" value="">
                                        <span class="select-button-span">Выбрать</span>
                                        <i class="fa-solid fa-caret-down select-button-icon"></i>
                                    </div>
                                    <ul class="priority">
                                        <li value="1">Критический</li>
                                        <li value="2">Высокий</li>
                                        <li value="3">Нормальный</li>
                                        <li value="4">Низкий</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="select-block">
                                <span class="select-block-span">Отдел</span>
                                <div class="select">
                                    <div id="Department" class="select-button" value="{{.DepartmentID}}"  {{if ne .DepartmentID 0}} style="background-color: #0177fd; color: #ffffff">
                                        {{.DepartmentName}}
                                    {{else}}
                                        >
                                        <span class="select-button-span">Выбрать</span>
                                        <i class="fa-solid fa-caret-down select-button-icon"></i>
                                    {{end}}
                                    </div>
                                    <ul class="departments">
                                        <li value="1">Админы</li>
                                        <li value="2">Менеджеры</li>
                                        <li value="3">Техники</li>
                                        <li value="4">ТВ</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <label>
                            <input type="text" id="Description" required="required" value="{{.DescriptionText}}">
                            <span style="color: #0177fd;transform: translateY(-30px);font-size: 0.85em;">Краткая суть описания проблемы</span>
                        </label>
                        <label>
                            <textarea cols="70" rows="10" required="required" id="Notes"></textarea>
                            <span style="color: #0177fd;transform: translateY(-30px);font-size: 0.85em;">Примечания и дополнительная информация (необязательно)</span>
                        </label>

                    </div>
                </div>
                <div class="btns">
                    <div class="btn btn-success" id="createUser">Создать</div>
                </div>
            </div>
        </div>
    </main>
    <footer>2022 ООО "Орбител". Все права защищены</footer>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/send.js"></script>
    <script src="/assets/js/application-create.js"></script>
</body>
</html>
{{ end }}