{{define "application"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/null.style.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/style.css" id="theme">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/application.css">
    <title>Заявки</title>
</head>
<body>
<div class="preload">
    <div class="preload-contain">
        <div class="preload-icon">
            <img src="../assets/image/rocket.svg" alt="Загрузка">
        </div>
    </div>
</div>
{{template "aside" .}}
    <main>
        <div class="main-head">
            <h2>Текущие заявки - </h2>
            <div class="select-block">
                <span class="select-block-span">Отдел</span>
                <div class="select">
                    <div id="Department" class="select-button" value="{{.SessionUser.Department.ID}}" style="background-color: #0177fd; color: #ffffff">
                        {{.SessionUser.Department.Name}}
                    </div>
                    <ul class="departments2">
                        <li value="5">(все отделы)</li>
                        <li value="1">Админы</li>
                        <li value="2">Менеджеры</li>
                        <li value="3">Техники</li>
                        <li value="4">ТВ</li>
                    </ul>
                </div>
            </div>
            <ul class="tabs">
                <li class="active" id="status-1">Текущие</li>
                <li id="status-2">Новые</li>
                <li id="status-3">Закрытые</li>
                <li id="status-4">Все</li>
{{/*                <li>Заявки по узлам</li>*/}}
            </ul>
        </div>
        <section>
                <table id="applications-table">
                    <thead>
                    <tr>
                        <th class="table-column1">#</th>
                        <th class="table-column2">Адрес</th>
                        <th class="table-column3">Абонент</th>
                        <th class="table-column4">Описание</th>
                        <th class="table-column5">Статус / Исполнитель</th>
                        <th class="table-column6">Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
        </section>
    </main>
    <footer>2022 ООО "Орбител". Все права защищены</footer>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/send.js"></script>
    <script src="/assets/js/application.js"></script>
</body>
</html>
{{end}}