{{ define "houses" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/null.style.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/style.css" id="theme">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/houses.css">
    <title>Дома с ЦТВ</title>
</head>
<body>
<div class="preload">
    <div class="preload-contain">
        <div class="preload-icon">
            <img src="/assets/image/rocket.svg" alt="Загрузка">
        </div>
    </div>
</div>
<nav>
    <div class="menuBtn"></div>
    <ul>
        <li id="index">
            <a href="/">
                <span class="icon"><i class="fa-solid fa-house"></i></span>
                <span class="text">Главная</span>
            </a>
        </li>
        <li id="application">
            <a href="/application">
                <span class="icon"><i class="fa-solid fa-address-card"></i></span>
                <span class="text">Заявки</span>
            </a>
        </li>
        <li id="application">
            <a href="/application/create">
                <span class="icon"><i class="fa-solid fa-address-card"></i></span>
                <span class="text">Создание заявки</span>
            </a>
        </li>
        <li id="hoses" class="active">
            <a href="/houses">
                <span class="icon"><i class="fa-solid fa-house"></i></span>
                <span class="text">Дома с ТВ</span>
            </a>
        </li>
        <li id="users">
            <a href="/users">
                <span class="icon"><i class="fa-solid fa-users"></i></span>
                <span class="text">Пользователи</span>
            </a>
        </li>
{{/*        <li id="login">*/}}
{{/*            <a href="/users/login">*/}}
{{/*                <span class="icon"><i class="fa-solid fa-right-to-bracket"></i></span>*/}}
{{/*                <span class="text">Авторизация</span>*/}}
{{/*            </a>*/}}
{{/*        </li>*/}}
{{/*        <li>*/}}
{{/*            <a href="/about">*/}}
{{/*                <span class="icon"><i class="fa-solid fa-address-card"></i></span>*/}}
{{/*                <span class="text">О нас</span>*/}}
{{/*            </a>*/}}
{{/*        </li>*/}}
        <li class="settings">
            {{/*            <a href="/settings">*/}}
            {{/*                <span class="icon"><i class="fa-solid fa-gear"></i></span>*/}}
            {{/*                <span class="text">Настройки</span>*/}}
            {{/*            </a>*/}}
            <div class="LD-mode">
                <span class="icon"><div class="switch"><div></div></div></span>
                <span class="text">Тёмная тема</span>
            </div>
        </li>
    </ul>
</nav>
<!--    <header>-->
<!--        <div class="profile">-->
<!--            <span>Евгений</span>-->
<!--            <div><img src="assets/image/avatar.jpg" alt=""></div>-->
<!--        </div>-->
<!--    </header>-->
<main>
    <div>
        <h2>Дома с цифровым ТВ ООО "ОРБИТЕЛ"</h2>
        <label>
            <input type="text" id="search" required="required">
            <span><i class="fa-solid fa-magnifying-glass"></i> Поиск</span>
            <p></p>
        </label>
    </div>
    <section>
        <span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span><span>1 Мая 4</span>
        <span>1 Мая 6</span>
        <span>1 Мая 8</span>
        <span>1 Мая 10</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Интернациональная 21</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
        <span>Дзержинского 18 стр. 1</span>
    </section>
</main>
<footer>2022 ООО "Орбител". Все права защищены</footer>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/houses.js"></script>
</body>
</html>
{{ end }}