{{ define "houses" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/null.style.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/style.css" id="theme">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/houses.css">
    <title>Подключёные дома ООО "ОРБИТЕЛ"</title>
</head>
<body>
<div class="preload">
    <div class="preload-contain">
        <div class="preload-icon">
            <img src="/assets/image/rocket.svg" alt="Загрузка">
        </div>
    </div>
</div>
{{template "aside" .}}
<main>
    <div class="contain">
        <h2>Подключёные дома ООО "ОРБИТЕЛ"</h2>
        <div>
            {{if or (or (eq .SessionUser.Role.ID 1) (eq .SessionUser.Role.ID 6)) (eq .SessionUser.Role.ID 2)}}<a href="/houses/create"><button>+ Добавить адрес</button></a>{{end}}
            <label>
                <input type="text" id="search" required="required">
                <span><i class="fa-solid fa-magnifying-glass"></i> Поиск</span>
                <p></p>
            </label>
        </div>


    </div>
    <section id="houses_list">
    </section>
</main>
<footer>2022 ООО "Орбител". Все права защищены</footer>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/send.js"></script>
<script src="/assets/js/houses.js"></script>
</body>
</html>
{{ end }}