{{define "index"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/null.style.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/style.css" id="theme">
    <link rel="stylesheet" href="/assets/css/{{.Theme}}/index.css">
    <title>Главная</title>
</head>
<body>
<div class="preload">
    <div class="preload-contain">
        <div class="preload-icon">
            <img src="/assets/image/rocket.svg" alt="Загрузка">
        </div>
    </div>
</div>
 {{template "aside" .}}
    <section>
        <h2>Добро пожаловать в CRM - Орбител!</h2>
        <div class="optional">
            <div>
                <a href="/houses"><h3>Проверить возможность подключения</h3></a>
            </div>
            <div class="active">
                <h3>Создать заявку</h3>
                <ul>
                    <a href="/application/create-Нет интернета"><li>Нет интернета</li></a>
                    <a href="/application/create-Смена ТП"><li>Смена ТП</li></a>
                    <a href="/application/create-ТВ"><li>ТВ</li></a>
                    <a href="/application/create-none"><li>Другое</li></a>
                </ul>
            </div>
        </div>
        <div class="events">
            <h3>Последние события:</h3>
            <table>
                <thead>
                    <tr>
                        <th class="table-column1">Время</th>
                        <th class="table-column2">Сотрудники</th>
                        <th class="table-column3">Выполненное действие</th>
                        <th class="table-column4">№ заявки</th>
                        <th class="table-column5">Краткое описание</th>
                        <th class="table-column6">Адрес</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </section>
    <footer>2022 ООО "Орбител". Все права защищены</footer>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/send.js"></script>
    <script src="/assets/js/index.js"></script>
</body>
</html>
{{end}}