{{ define "users" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/null.style.css">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/{{.Theme}}/style.css" id="theme">
        <link rel="stylesheet" href="/assets/css/{{.Theme}}/users.css">
        <title>Пользователи</title>
    </head>
    <body>
    <div class="preload">
        <div class="preload-contain">
            <div class="preload-icon">
                <img src="/assets/image/rocket.svg" alt="Загрузка">
            </div>
        </div>
    </div>
    {{template "aside" .}}
    <main>
        <div class="title">
            <h2>Пользователи CRM</h2>
            <a href="/users/create"><div class="btn edit">+ Создать пользователя</div></a>
        </div>
        <section>
            {{ range $i := .Users}}
                <div class="user">
                    <span>{{$i.Name}}</span>
                    <div>
                        <a href="/users/edit/{{$i.ID}}"><div class="btn edit">Изменить</div></a>
{{/*                        {{if eq $i.Blocked 0}}*/}}
{{/*                            <div class="btn block btn-block-unblock" data-user_id="{{$i.ID}}">Заблокировать</div>*/}}
{{/*                        {{end}}*/}}
{{/*                        {{if eq $i.Blocked 1}}*/}}
{{/*                            <div class="btn unblock btn-block-unblock" data-user_id="{{$i.ID}}">Разблокировать</div>*/}}
{{/*                        {{end}}*/}}
                    </div>
                </div>
            {{end}}

{{/*            <div class="user">*/}}
{{/*                <span>Виноградов Е.Н.</span>*/}}
{{/*                <div>*/}}
{{/*                    <a href="/users/edit"><div class="btn edit">Изменить</div></a>*/}}
{{/*                    <div class="btn block">Заблокировать</div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
{{/*            <div class="user">*/}}
{{/*                <span>Виноградов Е.Н.</span>*/}}
{{/*                <div>*/}}
{{/*                    <a href="/users/edit"><div class="btn edit">Изменить</div></a>*/}}
{{/*                    <div class="btn unblock">Разблокировать</div>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
        </section>
    </main>
    <footer>2022 ООО "Орбител". Все права защищены</footer>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/send.js"></script>
    <script src="/assets/js/user.js"></script>
    </body>
    </html>
{{ end }}