{{ define "users-create" }}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/null.style.css">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/{{.Theme}}/style.css" id="theme">
        <link rel="stylesheet" href="/assets/css/{{.Theme}}/users.css">
        <title>Создание пользователя</title>
    </head>
    <body>
    <div class="preload">
        <div class="preload-contain">
            <div class="preload-icon">
                <img src="/assets/image/rocket.svg" alt="Загрузка">
            </div>
        </div>
    </div>
    {{template "aside" .}}
    <main>
        <h2>Создание пользователя</h2>
        <section>
            <div class="contain">
                <div class="user-form">
                        <div class="select-block">
                            <span class="select-block-span">Роль</span>
                            <div class="select">
                                <div id="Role" class="select-button" value="">
                                    <span class="select-button-span">Выбрать</span>
                                    <i class="fa-solid fa-caret-down select-button-icon"></i>
                                </div>
                                <ul class="roles">
                                    <li value="1">SuperAdmin</li>
                                    <li value="2">Admin</li>
                                    <li value="3">Manager</li>
                                    <li value="4">Technician</li>
                                    <li value="5">Tv</li>
                                    <li value="6">Director</li>
                                </ul>
                            </div>
                        </div>
                    <label>
                        <input type="text" id="Login" required="required">
                        <span>Логин</span>
                        <i></i>
                    </label>
                    <label>
                        <input type="text" id="Name" required="required">
                        <span>Имя</span>
                        <i></i>
                    </label>
                    <label>
                        <input type="password" id="Password" required="required">
                        <span>Пароль</span>
                        <i></i>
                    </label>
                    <label>
                        <input type="password" id="PasswordConfirm" required="required">
                        <span>Подтверждение пароля</span>
                        <i></i>
                    </label>
                    <div class="btn unblock" id="createUser">Создать</div>
                </div>
            </div>
        </section>
    </main>
    <footer>2022 ООО "Орбител". Все права защищены</footer>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/send.js"></script>
    <script src="/assets/js/user.js"></script>
    </body>
    </html>
{{ end }}