{{ define "users-edit" }}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/assets/css/null.style.css">
        <link rel="stylesheet" href="/assets/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/{{.Theme}}/style.css" id="theme">
        <link rel="stylesheet" href="/assets/css/{{.Theme}}/users.css">
        <title>Изменение пользователя: Виноградов Е.Н</title>
    </head>
    <body>
    <div class="preload">
        <div class="preload-contain">
            <div class="preload-icon">
                <img src="/assets/image/rocket.svg" alt="Загрузка">
            </div>
        </div>
    </div>
    {{template "aside" .}}
    <main>
        <h2 user-id="{{.User.ID}}">Изменение пользователя: {{.User.Name}}</h2>
        <section>
            <div class="contain">
                <div class="user-form">
                    <div class="select-block">
                        <span class="select-block-span">Роль</span>
                        <div class="select">
                            <div id="Role" class="select-button" value="{{.User.Role.ID}}" style="background-color: #0177fd; color: #ffffff">
                                {{.User.Role.Name}}
                            </div>
                            <ul id="role-list" class="roles">
                                <li value="1">SuperAdmin</li>
                                <li value="2">Admin</li>
                                <li value="3">Manager</li>
                                <li value="4">Technician</li>
                                <li value="5">Tv</li>
                                <li value="6">Director</li>
                            </ul>
                        </div>
                    </div>

                    <label>
                        <input type="text" id="Login" required="required" value="{{.User.Login}}">
                        <span>Логин</span>
                        <i></i>
                    </label>
                    <label>
                        <input type="text" id="Name" required="required" value="{{.User.Name}}"}>
                        <span>Имя</span>
                        <i></i>
                    </label>
                    <label>
                        <input type="password" id="Password" required="required">
                        <span>Новый пароль</span>
                        <i></i>
                    </label>
                    <label>
                        <input type="password" id="PasswordConfirm" required="required">
                        <span>Подтверждение пароля</span>
                        <i></i>
                    </label>
                    <div class="btns">
                        <div class="btn unblock" id="updateUser">Сохранить</div>
{{/*                        <div class="btn block btn-block-unblock" id="btn-block" data-user_id = "{{.User.ID}}">Заблокировать</div>*/}}
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>2022 ООО "Орбител". Все права защищены</footer>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/send.js"></script>
    <script src="/assets/js/user.js"></script>
{{/*    <script src="/assets/js/user-edit.js"></script>*/}}
    </body>
    </html>
{{ end }}