main {
    width: 100%;
    height: 100vh;
    padding: 30px 30px 0 0;
}

.main-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.main-head .tabs{
    display: flex;
    justify-content: space-between;
    margin-left: 145px;
}

.main-head .tabs li{
    cursor: pointer;
    transition-duration: 0.4s;
    color: #4a525f;
    padding: 5px 5px;
    border-bottom: 1px solid transparent;
}

.main-head .tabs li:hover{
    color: #0177fd;
    border-bottom: 1px solid #0177fd;
}

.main-head .tabs li.active{
    color: #0177fd;
    border-bottom: 1px solid #0177fd;
}

section {
    width: 100%;
    height: calc(100% - 94px);
    overflow-y: scroll;
    background-color: #ffffff;
}

h2 {
    font-size: 2em;
    color: #0177fd;
}

.main-head h2{
    width: 425px;
}

table {
    width: 100%;
    height: max-content;
    border-collapse: collapse;
    background-color: #ffffff;
    transition-duration: 0.5s;
}

th, td {
    border: 1px solid #dcdcdc;
    padding: 10px;
    transition-duration: 0.5s;
}

th {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.8em;
    color: #858585;
    cursor: pointer;
}

td {
    font-size: 0.95em;
}

.table-column1 {
    width: 5%;
    text-align: center;
}

.table-column2 {
    width: 20%;
}

.table-column3 {
    width: 20%;
}

.table-column4 {
    width: 30%;
}

.table-column5 {
    text-align: center;
    width: 15%;
}

.table-column6 {
    text-align: center;
    width: 10%;
}

section::-webkit-scrollbar{
    width: 20px;
}

section::-webkit-scrollbar-track{
    background-color: #ffffff;
    transition-duration: 0.5s;
}

section::-webkit-scrollbar-thumb{
    background-color: #dcdcdc;
    border-radius: 10px;
    border: 5px solid white;
    transition-duration: 0.5s;
}

section::-webkit-scrollbar-thumb:hover{
    background-color: #d2d2d2;
}

section::-webkit-scrollbar-thumb:active{
    background-color: #b0b0b0;
}

tbody tr {
    transition-duration: 0.1s;
    cursor: pointer;
    transition: 0.5s color;
}

tbody tr:hover {
    background-color: rgba(0,0,0, 0.05);
}

.critical {
    background-color: #ffdede;
    color: #ff0000;
}

.high {
    color: #ff0000;
}

.low {
    color: #0177fd;
    background-color: #d7e8fd;
}

label {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

label span{
    position: absolute;
    left: 0;
    padding: 10px 10px 10px;
    pointer-events: none;
    transition-duration: 500ms;
}

label input{
    font-size: 1em;
    padding: 10px 10px ;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    color: #fff;
}

label textarea{
    font-size: 1em;
    padding: 10px 10px ;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    color: #fff;
}

label input::selection{
    background: #858585;
}

label textarea::selection{
    background: #858585;
}

label input:valid ~ span,
label input:focus ~ span{
    color: #0177fd;
    transform: translateY(-30px);
    font-size: 0.85em;
}

label textarea:valid ~ span,
label textarea:focus ~ span{
    color: #0177fd;
    transform: translateY(-30px);
    font-size: 0.85em;
}

label i{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #0177fd;
    width: 100%;
    border-radius: 4px;
    transition-duration: 500ms;
    pointer-events: none;
}

label input:valid ~ i,
label input:focus ~ i{
    height: 40px;
}

label textarea:valid ~ i,
label textarea:focus ~ i{
    height: 210px;
}

.contain {
    width: 100%;
    height: calc(100% - 32px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.application-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    padding-bottom: 20px;
    transition-duration: 0.5s;
}

.application-form input{
    border-radius: 10px;
    border: 1px solid #0177fd;
    color: #000;
}

.application-form textarea{
    border-radius: 10px;
    border: 1px solid #0177fd;
    color: #000;
}

.sides {
    padding: 50px;
    display: flex;
}

.right-side, .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%;
}

.left-side {
    display: flex;
    flex-direction: column;
}

.left-side label{
    margin: 30px 10px;
}

.application-form .border-trans {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0177fd;
}

.application-form .border-trans span{
    margin: 0 5px;
}

.application-form .border-trans i {
    height: 1px;
    background-color: #0177fd;
    width: 100%;
}

.fast-search{
    position: relative;
}

.disable {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    z-index: 100;
    transition-duration: 0.5s;
}

.disable-top {
    display: none;
}

.disable-bottom {
    display: block;
}

.alternative {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.alternative div {
    display: flex;
    width: 100%;
}

.right-side {
    border-left: 1px solid #0177fd;
    flex-direction: column;
    justify-content: space-between;
}

.right-side label {
    margin: 30px;
}

.btns{
    display: flex;
    width: 500px;
    justify-content: center;
}

.btn {
    user-select: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 0 5px;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-error {
    background-color: #ff0000;
}

.btn-success {
    background-color: #00a81e;
}

.abonent-list {
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    position: absolute;
    top: 45px;
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    background-color: #ffffff;
    border-radius: 10px;
    transition-duration: 0.2s;
    z-index: 10000;
}

.abonent-list::-webkit-scrollbar{
    width: 11px;
}

.abonent-list::-webkit-scrollbar-track{
    background: #ffffff;
}

.abonent-list::-webkit-scrollbar-thumb{
    background-color: #0177fd;
    border-radius: 10px;
    border: 2px solid #ffffff;
}

.abonent-list::-webkit-scrollbar-thumb:hover{
    background-color: #0164da;
}
.abonent-list::-webkit-scrollbar-thumb:active{
    background-color: #015bc9;
}

.abonent-list .abonent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    transition-duration: 0.3s;
}

.abonent-list .abonent:hover {
    background-color: #0177fd;
    color: #ffffff;
}

.abonent-list .abonent:hover .address{
    color: #ffffff;
}

.abonent-list .abonent .name {
    width: 100%;
}

.abonent-list .abonent .address {
    font-size: 13px;
    color: #4a525f;
    transition-duration: 0.3s;
}

.application-view {
    height: max-content;
}

.application-view .contain {
    height: max-content;
    flex-direction: column;
}

.application-view .contain .sides{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.application-view .contain .left{
    display: flex;
    flex-direction: column;
    width: 760px;
    height: min-content;
}

.application-view .contain .table {
    background-color: #ffffff;
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    width: 100%;
    margin-bottom: 100px;
    color: #000000;
}

.application-view .contain .table a {
    color: #000000;
}

.application-view .left .history {
    background-color: #ffffff;
    padding: 20px 50px;
}

.application-view .contain .records {
    background-color: #ffffff;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    width: 100%;
}

.application-view .contain .left .record{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
}

.application-view .contain .left .record div{
    display: flex;
    width: max-content;
    border-left: 1px solid #dcdcdc;
}


.application-view .contain .left .record .col1{
    width: 25%;
}.application-view .contain .left .record .col2{
    width: 25%;
}.application-view .contain .left .record .event{
    width: 50%;
}


.application-view .contain .left .event{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.application-view .contain .left .event .name {
    margin-bottom: 5px;
}

.application-view .contain .left .event .comment {
    font-weight: bold;
}

.application-view .contain .left .record div{
    padding: 5px;
}

.application-view .contain .row {
    display: flex;
    border-bottom: 1px solid #dcdcdc;
}

.application-view .contain .row div{
    padding: 10px;
    border-right: 1px solid #dcdcdc;
}

.application-view .contain .row .key{
    width: 40%;
}

.application-view .contain .row .value{
    width: 60%;
}

.application-view .contain .row .border-contain{
    width: 100%;
}

.application-view .contain .row .border{
    border: 1px solid #0177fd;
    padding: 0;
}

.application-view .contain .right{
    display: flex;
    width: 660px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 60px;
    flex-direction: column;
    height: max-content;
}

.application-view .contain h3{
    width: 100%;
    font-size: 1.5em;
    color: #0177fd;
    text-align: center;
    height: max-content;
    margin-bottom: 25px;
}

.application-view .contain .right .control .btn{
    font-size: 1.25em;
    cursor: pointer;
    color: #ffffff;
    background-color: #0177fd;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition-duration: 300ms;
}

.application-view .contain .right .control .btn:hover{
    background-color: #005acc;
}

.application-view .contain .right .control .option{
    font-size: 1.25em;
    cursor: pointer;
    margin-bottom: 15px;
}

.application-view .contain .right .control .option .option-span{
    margin-bottom: 10px;
    display: flex;
}

.application-view .contain .right .select{
    font-size: 16px !important;
}

.application-view .contain .right .select div{
    font-size: 16px !important;
}

.application-view .contain .right .control .option button{
    font-size: 16px;
    cursor: pointer;
    color: #ffffff;
    background-color: #0177fd;
    width: max-content;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 0 0 0 15px;
    height: 38px;
    transition-duration: 300ms;
}

.application-view .contain .right .control .option button:hover{
    background-color: #005acc;
}


.application-view .contain .right .control .option textarea{
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #0177fd;
    padding: 10px;
    margin-bottom: 15px;
}