main {
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 30px 30px 0 0;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.title i{
    margin-right: 10px;
}

h2 {
    font-size: 2em;
    color: #0177fd;
}

section {
    height: 100%;
}

.user {
    background-color: #2f2f2f;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    color: #e2e4ee;
}

.user span {
    font-size: 1.2em;
    transition-duration: 0.5s;
}

.user div {
    display: flex;
}

.btn {
    user-select: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit {
    background-color: #0177fd;
    border: 2px solid #0177fd;
    transition-duration: 0.2s;
}
.edit:hover {
    background-color: #2f2f2f;
    transition-duration: 0.2s;
    color: #0177fd;
}

.block, .unblock {
    width: 160px;
}

.block {
    background-color: #ff0000;
    border: 2px solid #ff0000;
    transition-duration: 0.2s;
}
.block:hover {
    background-color: #2f2f2f;
    transition-duration: 0.2s;
    color: #ff0000;
}

.unblock {
    background-color: #00a81e;
    border: 2px solid #00a81e;
    transition-duration: 0.2s;
}
.unblock:hover {
    background-color: #2f2f2f;
    transition-duration: 0.2s;
    color: #00a81e;
}

label {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

label span{
    position: absolute;
    left: 0;
    padding: 10px 10px 10px;
    pointer-events: none;
    transition-duration: 500ms;
    color: #e2e4ee;
}

label input{
    font-size: 1em;
    padding: 10px 10px ;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    color: #fff;
}

label input::selection{
    background: #858585;
}

label input:valid ~ span,
label input:focus ~ span{
    color: #0177fd;
    transform: translateY(-30px);
    font-size: 0.85em;
}

label i{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: #0177fd;
    width: 100%;
    border-radius: 4px;
    transition-duration: 500ms;
    pointer-events: none;
}

label input:valid ~ i,
label input:focus ~ i{
    height: 40px;
}

.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 50px;
}

.user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2f2f2f;
    height: 100%;
    padding: 0 30px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.25);
    transition-duration: 0.5s;
}

.btns{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.info {
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.info span{
    width: 25%;
    text-align: center;
}

.info span:first-child{
    width: 50%;
    text-align: left;
}

.ths {
    font-size: 24px;
    display: flex;
    width: 65%;
    justify-content: space-between;
    padding: 0 10px 10px 30px;
    color: #0177fd;
    text-align: center;
}

.ths .th{
    width: 25%;
}

.ths .th:first-child{
    width: 50%;
}

.abonent-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2f2f2f;
    height: 80%;
    padding: 0 30px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.25);
    transition-duration: 0.5s;
}

.abonent-info {
    padding: 0 100px;
}

.abonent-info .table{
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f;
    border-top: 1px solid #181818;
    border-left: 1px solid #181818;
    color: #e2e4ee;
}

.abonent-info .table .row{
    display: flex;

}

.abonent-info .table .row div{
    border-bottom: 1px solid #181818;
    border-right: 1px solid #181818;
    padding: 10px 20px;
}

.abonent-info .table .row .key {
    width: 40%;
}

.abonent-info .table .row .value {
    width: 60%;
}